/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body {
  display: grid;
  background-image: url(./assets/backgroundImage.jpeg);
  background-attachment: fixed;
  grid-template-areas: 
  'header header header'
  'main main aside'
  'footer footer footer';
}

/* HEADER */

.header {
  margin: 0 2px 0 2px;
  display: block;
  background-color: #555;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  grid-area: header;
}

.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.header__content-title a{
  color: #ddd;
  font-weight: bold;
  font-size: 50px;
  margin: 10px;
}

.header__content-navbar li{
  background-color: #ccc;
  display: inline-block;
  margin: 20px;
  padding: 3px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
  transition: all 0.2s;
}

.header__content-navbar li a{
  font-weight: bold;
}

.header__content-navbar li:hover{
  background-color:rgb(177, 74, 74);
  border-radius: 5px;
  border: 2px solid black;
  padding: 3px;
  color: white;
}

/* MAIN */

.main {
  background-color: #555;
  margin: 2px 2px 0 2px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 3px solid black;
  grid-area: main;
}

.main__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  }

/* PRODUCTOS */

.productos {
  background-color: #ccc;
  display: flex;
  margin: 6px;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: flex-start;
  width: 350px;
  height: 500px;
  border: 2px solid black;
  border-radius: 5px;
  transition: all .2s;
}

.productos:hover {
  background-color: rgb(177, 74, 74);
  color: white;
}

.productos img {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  padding: 5px;
  align-self: center;
}

.productos__title{
  margin: 5px;
}

.productos__desc{
  margin: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 2;
  line-clamp: 2; 
  overflow: hidden;  
}

.productos__precio{
  margin: 5px;
  font-weight: bold;
}

.productos__comprar{
  background-color: #ccc;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  align-self: center;
  transition: all 0.2s;
  cursor: pointer
}

.productos__comprar:hover{
  color: white;
  background-color:rgb(80, 80, 80)
}

.precio {
  justify-self: flex-end;
}

/* CARRITO DE COMPRAS */

.aside {
  display: inline-block;
  background-color:#555;
  width: 300px;
  height: min-content;
  margin: 2px 2px 0 0;
  border: 3px solid black;
}

.aside__title {
  color: #eee;
  text-align: center;
  border-bottom: 1px solid black;
}

.aside__comprar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-top: 1px solid black;
}

.aside__comprar-btn {
  background-color: #aaa;
  border: 1px solid black;;
  padding: 4px;
  border-radius: 4px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.aside__comprar-btn:hover {
  background-color:rgb(67, 194, 28);
}


.carrito__producto {
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: #ccc;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  transition: all 0.2s
}
.carrito__producto:hover{
  background-color: #bbb
}

.carrito__producto-btn {
  width: 30px;
  border: 1px solid black;
  border-radius: 3px;
  align-self: center;
  background-color: #aaa;
  /* color:rgb(80, 80, 80); */
  color:rgb(177, 74, 74);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s;
}

.carrito__producto-btn:hover{
  background-color:rgb(177, 74, 74);
  color: #ddd;
}

/* FORMULARIO DE PAGO */

.form__pago {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 40%;
  top: 20%;
  background-color: #ccc;
  padding: 15px;
  width: 400px;
  height: 600px;
  border-radius: 15px;
  border: 3px solid black;
}

.form__pago-title {
  text-align: center;
}

.form__pago-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 300px;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  font-weight: bold;
}

#btn__realizarCompra {
  width: 160px;
  background-color: #555;
  color: white;
  align-self: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  border-radius: 7px;
}

#btn__realizarCompra:hover {
  background-color:rgb(67, 194, 28)

}

.input {
  margin-top: 5px;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid black;
}
/* FOOTER */

.footer {
  display: block;
  margin: 2px 2px 0 2px;
  background-color: #555;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  grid-area: footer;
}

.footer__info {
  color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}